@import "../../styles/colors";
@import "../../styles/dimensions";


.context {
    width: 100vw;
    height: 75px;
    padding: 5px 100px 5px 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba($background, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
    z-index: 1199;
    @media (max-width: $medium) {
        padding: 5px 20px 5px 20px;
    }
}

.logoWrapper {
    width: 50px;
    height: 50px;
}

.links {
    display: flex;
    gap: 30px;
    * {
        cursor: pointer;
    }
}

.link {
    display: flex;
    gap: 10px;
}

.linkTitle {
    display: flex;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    color: $primary;
    transition: 0.5s;
    &:hover {
        color: $vibrant;
        transition: 0.5s;
    }
}

.linkPrefix {
    color: $vibrant;
    display: flex;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
}

.menuButton {
    color: $vibrant;
    font-size: 30px;
    cursor: pointer;
    z-index: 999999999;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: fit-content;
    min-width: 60vw;
    height: 100vh;
    background: #112240;
    z-index: 1202;
}

.linksInSidebar {
    min-width: 100%;
    width: fit-content;
    height: 100%;
    padding: 75px 10px 75px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .link > div {
        font-size: 20px;
    }
}

.sidebarMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#112240, 0.5);
    z-index: 1201;
}
