@import "../../styles/colors";


.context {
    position: relative;
    * {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
    }
    img {
        z-index: 1;
    }
    div {
        background: rgba($vibrant, 0.4);
        cursor: pointer;
        z-index: 2;
        transition: 0.5s;
        &:hover {
            background: transparent;
            transition: 0.5s;
        }
    }
}