@import "../../styles/colors";

.context {
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
        .hexagon {
            fill: rgba($vibrant, 0.27);
        }
    }
}

.hexagon {
    fill: none;
    stroke: $vibrant;
    stroke-width: 6px;
}

.letter {
    stroke: none;
    fill: $vibrant;
}
