@import "../../../styles/presets";
@import "../../../styles/dimensions";


.context {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contentWrapper {
    max-width: 1000px;
}

.myNameIs {
    @include Vibrant-Code;
}

.name {
    @include Primary-Headline;
    font-size: clamp(40px, 8vw, 80px);
    line-height: 1.1;
}

.slogan {
    @include Secondary-Headline;
    font-size: clamp(40px, 8vw, 80px);
    line-height: 1.1;
}

.summary {
    @include Textual;
}
