@import "colors";


.credentials {
    width: 100%;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-size: small;
    margin-bottom: 30px;
    span {
        color: $vibrant;
        cursor: pointer;
    }
}
