@import "../../styles/glow";
@import "../../styles/colors";
@import "../../styles/dimensions";


.context {
    width: 330px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 14px;
    background: #eeeeee;
    padding: 5px;
    &:hover {
        .title {
            opacity: 1;
            transform: translateY(-100px);
            transition: 0.5s;
        }
    }
}

.thumbnail {
    width: 100%;
    border-radius: inherit;
    transition: 0.5s;
}

.title {
    @include GlowText();
    font-family: 'Montserrat Alternates', serif;
    user-select: none;
    margin: 20px;
}

.summary {
    font-family: 'Montserrat', serif;
    color: #606060;
    transition: 0.5s;
}

.description {
    color: #262626;
    padding: 0 20px 0 20px;
    line-height: 1.7rem;
}

.bottomWrapper {
    width: 100%;
    height: fit-content;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $medium) {
        padding: 20px;
    }
    @media (max-width: $small) {
        padding: 0;
    }
}

.links {
    margin: 40px;
    display: flex;
    flex-direction: column;
    span {
        font-family: "Montserrat Alternates", serif;
        color: #525252;
        font-weight: 600;
    }
    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 20px 0 20px;
        gap: 10px;
        color: $primary;
    }
    a {
        color: $primary;
    }
}

.closeButton {
    margin: 20px;
    padding: 5px 10px 5px 10px;
    background: $primary;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: "Montserrat Alternates", serif;
    font-size: large;
    align-self: end;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.37);
    z-index: 400;
}
